/*重置样式*/

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
fieldset,
legend,
img,
div,
section,
figure,
header,
nav,
main,
footer,
textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
}

fieldset,
img {
    border: none;
}

em,
i,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: normal;
}

ul,
dl {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button {
    outline: none;
    border: none;
}

img {
    display: block;
}


/* 头部 */

.header {
    width: 100%;
    height: 105px;
    /* 头部上部分 */
    .header_top {
        width: 100%;
        height: 35px;
        background: #e8e8e8;
        position: fixed;
        z-index: 999;
        .box {
            width: 1210px;
            height: 35px;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            ul {
                height: 35px;
                line-height: 35px;
                li {
                    float: left;
                    a {
                        padding: 10px;
                        color: #494949;
                        span {
                            color: red;
                        }
                        ;
                    }
                    ;
                    &:nth-child(8) {
                        background: url("/img/tel.png") no-repeat 10px center;
                        span {
                            color: #C60101;
                            padding-left: 25px;
                        }
                        ;
                    }
                }
                ;
				.checkShow{
					width: 24px;
					height: 24px;
					background: url("/img/search.png") no-repeat;
					margin: 6px 0 0 16px;
				}
            }
            ;
            .form {
                margin: 7px 0 0 16px;
                .txt {
                    width: 145px;
                    height: 24px;
                    float: left;
					border: 1px solid #cccccc;
                }
                ;
                .search {
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                    background: url("/img/search.png");
                }
                ;
            }
            ;
        }
        ;
    }


    /* 头部中间部分 */
    .header_mid {
        width: 1210px;
        height: 105px;
        padding-top: 35px;
        margin: 0 auto;
        border-bottom: 15px solid #ededed;
        .header_logo h1 a {
            display: block;
            width: 190px;
            height: 38px;
            margin-top: 10px;
            margin-left: 10px;
            float: left;
            background: url("/img/logo.jpg");
            span {
                display: none;
            }
        }
        ;
        .header_nav ul {
            width: 680px;
            height: 55px;
            float: right;
            display: flex;
            justify-content: space-between;
            .nav {
                display: flex;
                align-items: center;
                .nav_a {
                    width: 74px;
                    height: 38px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: #000000;
                    font-size: 15px;
                    span {
                        font-size: 12px;
                    }
                    ;
                    &:hover {
                        background: #D22134;
                        border-radius: 4px;
                        color: white;
                    }
                }
                ;
                &:nth-child(4) {
                    .nav_a {
                        width: 90px;
                        height: 38px;
                        margin-right: 20px;
                    }
                    ;
                }
                ;
                &:nth-child(5),
                &:nth-child(6) {
                    .nav_a {
                        width: 115px;
                        height: 38px;
                    }
                    ;
                }
                ;
            }
            ;
            /* 男士菜单 */
            .him {
                position: relative;
                .list {
                    position: absolute;
                    top: 55px;
                    left: -13px;
                    width: 597px;
                    height: 312px;
                    border: 1px solid #ECECEC;
                    background: white;
                    display: none;
					z-index:1;
                    .host {
                        width: 352px;
                        height: 174px;
                        float: left;
                        margin-top: 18px;
                        margin-left: 15px;
                        border-bottom: 1px solid #EAEAEA;
                        font-size: 13px;
                        li {
                            h4 {
                                font-weight: bold;
                                height: 30px;
                            }
                            ;
                            a {
                                color: #313131;
                                p {
                                    margin: 10px 0 10px 0;
									&:hover{
										background: black;
										color: white;
									}
                                }
                                ;
                                .p4 {
                                    color: #d22134;
                                }
                                ;
                            }
                            ;
                        }
                        ;
                    }
                    ;
                    .list_img {
                        width: 323px;
                        height: 74px;
                        margin-top: 20px;
                        margin-left: 27px;
                        float: left;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        a {
                            float: left;
                            &:first-child {
                                width: 152px;
                                height: 24px;
                                background: url("/img/pic1.png");
                            }
                            &:nth-child(2) {
                                width: 148px;
                                height: 22px;
                                background: url("/img/pic2.png");
                                margin-left: 23px;
                            }
                            &:nth-child(3) {
                                width: 148px;
                                height: 28px;
                                background: url("/img/pic3.png") no-repeat center center;
                                margin-top: 15px;
                            }
                            &:nth-child(4) {
                                width: 144px;
                                height: 34px;
                                background: url("/img/pic4.png");
                                margin-top: 15px;
                            }
                        }
                    }
                    img {
                        margin-top: 15px;
                        padding-left: 8px;
                    }
                    ;
                }
                ;
            }
            /* 女士菜单 */
            .her {
                position: relative;
                .list2 {
                    position: absolute;
                    top: 55px;
                    left: -110px;
                    width: 597px;
                    height: 312px;
                    border: 1px solid #ECECEC;
                    background: white;
                    display: none;
					z-index:1;
                    .host2 {
                        width: 352px;
                        height: 174px;
                        float: left;
                        margin-top: 18px;
                        margin-left: 15px;
                        border-bottom: 1px solid #EAEAEA;
                        font-size: 13px;
                        li {
                            h4 {
                                font-weight: bold;
                                height: 30px;
                            }
                            ;
                            a {
                                color: #313131;
                                p {
                                    margin: 10px 0 10px 0;
                                    &:hover{
                                    	background: black;
                                    	color: white;
                                    }
                                }
                                ;
                                .p4 {
                                    color: #d22134;
                                }
                                ;
                            }
                            ;
                        }
                        ;
                    }
                    ;
                    .list_img2 {
                        width: 323px;
                        height: 74px;
                        margin-top: 20px;
                        margin-left: 27px;
                        float: left;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        a {
                            float: left;
                            &:first-child {
                                width: 154px;
                                height: 24px;
                                background: url("/img/pic3.png") no-repeat center center;
                            }
                            &:nth-child(2) {
                                width: 148px;
                                height: 22px;
                                background: url("/img/pic2.png");
                            }
                            &:nth-child(3) {
                                width: 154px;
                                height: 19px;
                                background: url("/img/pic5.png");
                                margin-top: 17px;
                            }
                            &:nth-child(4) {
                                width: 144px;
                                height: 34px;
                                background: url("/img/pic4.png");
                                margin-top: 15px;
                            }
                        }
                    }
                    img {
                        margin-top: 15px;
                        padding-left: 8px;
                    }
                    ;
                }
                ;
            }
            /* 体验店 */
            .store {
                position: relative;
                .list3 {
                    position: absolute;
                    top: 55px;
                    left: -481px;
                    width: 597px;
                    height: 312px;
                    border: 1px solid #ECECEC;
                    background: white;
                    display: none;
					z-index:1;
                    .store_left {
                        width: 352px;
                        height: 174px;
                        float: left;
                        margin-top: 22px;
                        margin-left: 25px;
                        border-bottom: 1px solid #EAEAEA;
                        font-size: 13px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        h4 {
                            font-weight: bold;
                            height: 20px;
                        }
                        ;
                        li {
                            a {
                                color: #313131;
                                float: left;
                                margin-top: 16px;
                                span {
                                    padding-left: 35px;
                                }
                                ;
                                .span {
                                    padding-left: 72px;
                                }
                                &:hover {
                                    background: black;
                                    color: white;
                                }
                            }
                        }
                    }
                    p {
                        margin-left: 6px;
                        margin-top: 200px;
                    }
                    img {
                        margin-top: 15px;
                        padding-left: 6px;
                    }
                    ;
                }
            }
        }
    }
}


/* 尾部 */

.footer {
    /* 售后保障 */
    .saled {
        width: 1210px;
        height: 108px;
        border-top: 20px solid #ededed;
        border-bottom: 20px solid #ededed;
        margin: 0 auto;
        li {
            float: left;
            a {
                display: block;
            }
            ;
            &:first-child {
                a {
                    width: 230px;
                    height: 68px;
                    background: url("/img/2013_footer_images.jpg");
                }
            }
            ;
            &:nth-child(2) {
                a {
                    width: 230px;
                    height: 68px;
                    background: url("/img/2013_footer_images.jpg") -230px 0;
                }
            }
            ;
            &:nth-child(2) {
                a {
                    width: 258px;
                    height: 68px;
                    background: url("/img/2013_footer_images.jpg") -230px 0;
                }
            }
            ;
            &:nth-child(3) {
                a {
                    width: 240px;
                    height: 68px;
                    background: url("/img/2013_footer_images.jpg") -488px 0;
                }
            }
            ;
            &:nth-child(4) {
                width: 219px;
                height: 68px;
                background: url("/img/2013_footer_images.jpg") -729px 0;
            }
            ;
            &:nth-child(5) {
                width: 262px;
                height: 68px;
                background: url("/img/2013_footer_images.jpg") -948px 0;
            }
            ;
        }
    }
    /* 尾部上半部分_导航*/
    .footer_top {
        width: 1210px;
        height: 170px;
        margin: 0 auto;
        .warp {
            width: 1150px;
            height: 107px;
            margin-top: 35px;
            margin-left: 60px;
            float: left;
            .footer_logo h1 a {
                display: block;
                float: left;
                width: 188px;
                height: 97px;
                background: url("/img/2014_footer_images.jpg");
                margin-top: 10px;
                span {
                    display: none;
                }
            }
            .footer_nav {
                width: 880px;
                height: 107px;
                float: right;
                .list {
                    border-right: 1px solid #dadada;
                    float: left;
                    h3 {
                        padding: 0 52px;
                        line-height: 34px;
                        font-weight: bolder;
                    }
                    p {
                        line-height: 26px;
                        a {
                            padding: 0 45px;
                            color: #6e6e6e;
                        }
                    }
                }
                .last {
                    border-right: none;
                }
            }
        }
    }
    /* 尾部中间部分 */
    .footer_mid {
        width: 1210px;
        height: 40px;
        background: #D2D2D2;
        margin: 0 auto;
        text-align: center;
        line-height: 40px;
        p a {
            color: #4B4B4B;
            padding: 0 14px;
        }
    }
    /* 尾部最底部 */
    .footer_bottom {
        width: 1210px;
        height: 82px;
        background: #0D0E10;
        margin: 0 auto;
        text-align: center;
        a {
            display: inline-block;
            padding-top: 15px;
            padding-right: 8px;
        }
    }  
    .side{
        position: fixed;
        right: 0;
        bottom: 50px;
        a img{
            margin-bottom: 5px;
        }
    } 
}
