.container {
    width: 1210px;
    background: #ededed;
    margin: 0 auto;
    .len {
        width: 1210px;
        height: 550px;
        border: 1px solid #d6d6d6;
        background: white;
        .prod_zoom {
            width: 860px;
            height: 550px;
            float: left;
            #imagezoom-wrap {
                width: 805px;
                height: 535px;
                border-right: 1px solid #d6d6d6;
                margin: 5px 0 0 55px;
                .len_left {
                    width: 600px;
                    float: left;
                    .zoom {
                        width: 567px;
                        height: 425px;
                        margin: 0 0 20px 16px;
                    }
                    .len_bottom {
                        width: 600px;
                        height: 85px;
                        border-top: 2px solid #d6d6d6;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        .active {
                            width: 50px;
                            height: 50px;
                            margin-right: 10px;
                            border: 1px solid #d6d6d6;
                        }
                    }
                }
                .len_right {
                    float: left;
                    margin-left: 80px;
                }
            }
        }
    }
}
.len_desc {
    width: 302px;
    height: 355px;
    float: left;
	margin-left: 25px;
	margin-top: 45px;
	font-size: 13px;
	.desc_top{
		height: 60px;
		border-bottom: 1px solid #d6d6d6;
		padding-left: 20px;
		p{
			height: 35px;
		}
	}
	.desc_mid{
		height: 160px;
		border-bottom: 1px solid #d6d6d6;
		h2{
			height: 52px;
			line-height: 52px;
			font-size: 19px;
			padding-left: 25px;
		}
		p{
			height: 45px;
			padding-left: 20px;
		}
		a{
			display: block;
			width: 84px;
			height: 40px;
			background: #dd273e url("/img/len_bg7.png") no-repeat 20px center;
			color: white;
			font-size: 15px;
			border-radius: 5px;
			padding-left: 49px;
			line-height: 40px;
			margin-left: 20px;
		}
	}
	.desc_bm{
		width: 232px;
		height: 88px;
		margin: 38px 0 0 20px;
		img{
			float: left;
			margin-right: 5px;
		}
		.wei{
			margin-right: 38px;
		}
		.star{
			display:inline-block;
			width: 80px;
			height: 15px;
			margin: 40px 0 15px 0;
			color: black;
		}
	}
}
