.container{
	width: 1210px;
	height: 420px;
	background: #ededed;
	margin: 0 auto;
	.warp{
		width: 1022px;
		height: 485px;
		border: 1px solid #d6d6d6;
		background: white;
		margin: 0 auto;
		form{
			width: 505px;
			height: 312px;
			margin: 40px 0 0 30px;
			float: left;
			.form_top{
				width: 505px;
				height: 40px;
				line-height: 40px;
				font-size: 15px;
				border-bottom: 1px solid #d6d6d6;
				p{
					width: 140px;
					height: 40px;
					border: 1px solid black;
					border-bottom: none;
					margin-left: 20px;
					text-align: center;
				}
			}
			.form_bottom{
				width: 360px;
				height: 212px;
				margin: 60px 0 0 75px;
				.mail,.password{
					width: 290px;
					height: 30px;
					border: 1px solid #cccccc;
				}
				span{
					font-weight: normal;
					font-size: 15px;
				}
				b{
					padding-left: 72px;
					color: #eb340a;
					line-height: 25px;
				}
				.sub{
					width: 143px;
					height: 40px;
					background: #d42337;
					border: none;
					border-radius: 3px;
					font-size: 15px;
					color: white;
					margin-left:135px;
					cursor: pointer;
					margin-bottom: 25px;
				}
				p{
					padding-left: 98px;
					a{
						color: #a7212a;
						text-decoration: underline;
					}
				}
			}
		}
		.login_right{
			float: left;
			margin: 40px 0 0 58px;
			width: 402px;
			height: 313px;
			position: relative;
			a{
				display: block;
				width: 94px;
				height: 29px;
				background: #d8253b;
				color: white;
				position: absolute;
				top: 80px;
				left: 135px;
				font-size: 15px;
				text-align: center;
				line-height: 29px;
				border-radius: 3px;
			}
		}
	}
}